<div class="list">
  {{/* Create a Scratch variable to store sections */}}
  {{ $.Scratch.Set "sections" slice }}

  <!-- Collect unique sections -->
  {{ range .Site.RegularPages }}
      {{ $section := .Params.section }}
      {{ if not (in ($.Scratch.Get "sections") $section) }}
          {{ $.Scratch.Add "sections" (slice $section) }}
      {{ end }}
  {{ end }}

  {{ $sections := $.Scratch.Get "sections" }}

  <!-- Sort sections alphabetically -->
  {{ range sort $sections }}
  {{ $section := . }}
  {{ $posts := where $.Site.RegularPages "Params.section" $section }}
  
  {{/* Collect unique authors for this section */}}
  {{ $allAuthors := slice }}
  {{ range $posts }}
    {{ with .Params.authors }}
      {{ range . }}
        {{ if not (in $allAuthors .) }}
          {{ $allAuthors = $allAuthors | append . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  <div class="section">
    <button class="toggleButton" onclick="toggleSection('{{ $section | urlize }}')">
      {{ $section }}
      {{ if gt (len $allAuthors) 0 }} by
        {{ range $i, $author := $allAuthors }}
          {{ $link := index site.Params.authorLinks $author }}
          {{ if $link }}
            <a href="{{ $link }}" target="_blank" rel="noopener" onclick="event.stopPropagation()">{{ $author }}</a>{{ if lt (add $i 1) (len $allAuthors) }}, {{ end }}
          {{ else }}
            {{ $author }}{{ if lt (add $i 1) (len $allAuthors) }}, {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </button>
  
    <div id="{{ $section | urlize }}" class="sectionContent">
      {{ range sort $posts ".Params.weight" "asc" }}
        <div class="listItem">
          <div class="listItemTexts">
            <div class="listItemTitle">
              <a href="{{ .Permalink }}">
                - {{ .Title }} 
                (<time datetime="{{ dateFormat .Site.Params.dateFormat .Date }}">{{ dateFormat .Site.Params.dateFormat .Date }}</time>)
              </a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  
{{ end }}
</div>

<script>
function toggleSection(sectionId) {
  var content = document.getElementById(sectionId);
  var button = document.querySelector(`[onclick="toggleSection('${sectionId}')"]`);

  if (content.style.display === "block") {
      content.style.display = "none";
      button.classList.remove("active");
  } else {
      content.style.display = "block";
      button.classList.add("active");
  }
}
</script>
